{% extends "base.html" %}
{% load static %}

{% block title %}
  Calendar - Yamtrack
{% endblock title %}

{% block container %}
  <div id="calendar"></div>
{% endblock container %}

{% block js %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
  <script src=" https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.15/index.global.min.js "></script>
  {{ events|json_script:"events" }}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const calendarEl = document.getElementById("calendar");
      const events = JSON.parse(document.getElementById('events').textContent);
      const calendar = new FullCalendar.Calendar(calendarEl, {
        themeSystem: 'bootstrap5',
        events: events,
        locale: "en",
        headerToolbar: {
            left: "prev",
            center: "title",
            right: "next"
        },
      });
      calendar.render();
    });
  </script>
{% endblock js %}
