{% extends "base.html" %}
{% load static %}
{% load app_extras %}
{% load crispy_forms_tags %}

{% block title %}
    Add - Yamtrack
{% endblock title %}

{% block container %}
    <h2 class="mb-4">Add Manual Media Entry</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% include "app/components/add_manual_form.html" with form=media_form %}
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>

    <script>
        document.getElementById('id_media_type').addEventListener('change', function() {
            var tvFields = document.getElementsByClassName('tv-field');
            for (var i = 0; i < tvFields.length; i++) {
                if (this.value === 'tv') {
                    tvFields[i].style.display = 'block';
                    tvFields[i].required = true;
                } else {
                    tvFields[i].style.display = 'none';
                    tvFields[i].required = false;
                    tvFields[i].value = '';
                }
            }
        });
    </script>
{% endblock container %}
