{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Add - Yamtrack
{% endblock title %}

{% block container %}
    <h3 class="text-light mb-4">Custom Media Entry</h3>
    <form method="post">
        {% crispy form %}
        {% include "app/components/create_media.html" with form=media_form %}
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
{% endblock container %}

{% block js %}
    <script src="{% static 'js/form-type-switch.js' %}"></script>
{% endblock js %}
