{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load app_tags %}

{% block title %}
  {% if media_type == "tv" %}
    TV shows - Yamtrack
  {% else %}
    {{ media_type|title }}s - Yamtrack
  {% endif %}
{% endblock title %}

{% block container %}
  {% if media_list %}
    <div class="table-responsive rounded border p-4 mb-4">
      <table class="table table-borderless table-hover align-middle text-center">
        <thead>
          <tr>
            <th>
              <button type="button"
                      class="btn btn-secondary filter-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#filter-modal">
                <i class="bi bi-funnel-fill"></i>
              </button>
              <div class="modal fade" id="filter-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                  <div class="modal-content text-start">
                    <div class="modal-body">
                      <form method="get">
                        {{ filter_form|crispy }}
                        <div class="text-center">
                          <button class="btn btn-secondary" type="submit">Filter</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th class="media-title">Title</th>
            <th>Score</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          {% include "app/components/media_list_items.html" %}
        </tbody>
      </table>

      {% if media_list.has_next %}
        <div id="loading-indicator-{{ current_page }}"
             class="htmx-indicator d-flex justify-content-center my-3">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      {% endif %}
    </div>

  {% else %}
    <div class="no-content">
      <div>
        <h1 class="text-center fs-3">
          {% if media_type == "tv" %}
            Your tv show tracker is empty.
          {% else %}
            Your {{ media_type }} tracker is empty.
          {% endif %}
        </h1>
        <p class="text-center">
          {% if media_type == "tv" %}
            Why not start by adding your favorite tv shows?
          {% else %}
            Why not start by adding your favorite {{ media_type }}s?
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
{% endblock container %}
