{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load app_tags %}

{% block title %}
  {{ media_type|media_type_readable_plural }} - Yamtrack
{% endblock title %}

{% block container %}
  {% if media_list %}
    {% include "app/components/filter_bar.html" %}

    <div class="table-responsive rounded border p-4 mb-4">
      <table class="table table-borderless table-hover align-middle text-center">
        <thead>
          <tr>
            <th></th>
            <th class="media-title">Title</th>
            <th>Score</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          {% include "app/components/media_list_items.html" %}
        </tbody>
      </table>

      {% if media_list.has_next %}
        <div id="loading-indicator-{{ current_page }}"
             class="htmx-indicator text-center my-3">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      {% endif %}
    </div>

  {% else %}
    <div class="no-content">
      <div>
        <h1 class="text-center fs-3">
          {% if media_type == "tv" %}
            Your tv show tracker is empty.
          {% else %}
            Your {{ media_type }} tracker is empty.
          {% endif %}
        </h1>
        <p class="text-center">
          {% if media_type == "tv" %}
            Why not start by adding your favorite tv shows?
          {% else %}
            Why not start by adding your favorite {{ media_type }}s?
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
{% endblock container %}
