{% load static %}
{% load app_tags %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Yamtrack, Media Tracker">
    <meta name="description" content="Search and track media on Yamtrack.">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    {% block css %}
    {% endblock css %}
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
    <link rel="mask-icon"
          href="{% static "favicon/safari-pinned-tab.svg" color="#181a1b" %}">
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#181a1b">
    <meta name="msapplication-config"
          content="{% static "favicon/browserconfig.xml" %}">
    <meta name="theme-color" content="#181a1b">
    <title>
      {% block title %}
        Yamtrack
      {% endblock title %}
    </title>
  </head>

  <body>
    {% block body %}
      <div class="navbar sticky-top d-flex align-items-center border-bottom p-3">
        <a href="{% url 'home' %}"
           class="text-decoration-none text-white order-first d-flex">
          <img src="{% static "favicon/favicon-32x32.png" %}"
               alt="Yamtrack"
               class="me-2"
               width="32"
               height="32">
          <div class="app-title fs-4 fw-semibold">Yamtrack</div>
        </a>

        <div class="search-bar mx-auto border rounded order-md-2 order-last mt-3 mt-md-0">
          <form id="search-form"
                class="input-group"
                method="get"
                action="{% url 'search' %}">
            <button class="search-btn btn border-0" type="submit">
              <i class="bi bi-search"></i>
            </button>

            <input class="form-control border-0 ps-0"
                   type="search"
                   name="q"
                   placeholder="Search by media title..."
                   aria-label="Search"
                   value="{{ request.GET.q }}"
                   required>

            <div class="dropdown" x-data="{ selectedType: '{{ user.last_search_type }}', mediaTypes: {
              {% if not user.hide_from_search or user.tv_enabled %}tv: { label: 'TV', color: '{{ 'tv'|media_color }}' },{% endif %}

              {% if not user.hide_from_search or user.movie_enabled %}
                movie: { label: 'Movie', color: '{{ 'movie'|media_color }}' },
              {% endif %}

              {% if not user.hide_from_search or user.anime_enabled %}
                anime: { label: 'Anime', color: '{{ 'anime'|media_color }}' },
              {% endif %}

              {% if not user.hide_from_search or user.manga_enabled %}
                manga: { label: 'Manga', color: '{{ 'manga'|media_color }}' },
              {% endif %}

              {% if not user.hide_from_search or user.game_enabled %}
                game: { label: 'Game', color: '{{ 'game'|media_color }}' },
              {% endif %}

              {% if not user.hide_from_search or user.book_enabled %}
                book: { label: 'Book', color: '{{ 'book'|media_color }}' },
              {% endif %}
              }, get mediaTypeKeys() { return Object.keys(this.mediaTypes) } }">
              <input type="hidden" name="media_type" :value="selectedType">

              <button class="btn border-0"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                <span class="badge rounded-1 text-white"
                      :style="`background-color: ${mediaTypes[selectedType]?.color}`"
                      x-text="mediaTypes[selectedType]?.label"></span>
              </button>

              <ul class="dropdown-menu p-0">
                <template x-for="(type, key) in mediaTypes" :key="key">
                  <li>
                    <a class="dropdown-item d-flex align-items-center justify-content-center"
                       :class="key === mediaTypeKeys[mediaTypeKeys.length - 1] ? 'pt-2 pb-2' : 'pt-2'"
                       @click.prevent="selectedType = key">
                      <span class="badge rounded-1 text-white"
                            :style="`background-color: ${type.color}`"
                            x-text="type.label"></span>
                    </a>
                  </li>
                </template>
              </ul>
            </div>
          </form>
        </div>

        <button class="btn btn-secondary offcanvas-toggler rounded d-lg-none me-2 order-2"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#sidebar"
                aria-controls="sidebar">
          <i class="bi bi-list"></i>
        </button>
      </div>

      <div class="d-flex">
        {% comment %} sidebar id needed for offcanvas toggler {% endcomment %}
        <div class="d-flex flex-column flex-shrink-0 p-3 border-end offcanvas-lg offcanvas-start"
             id="sidebar"
             tabindex="-1"
             aria-labelledby="sidebarLabel">
          <ul class="nav nav-pills flex-column mb-auto">
            <li>
              <a href="{% url 'home' %}"
                 class="nav-link {% if request.path == "/" %}active{% endif %}">
                <i class="bi bi-house-door me-2 align-middle"></i>
                <span class="align-middle">Home</span>
              </a>
            </li>

            {% if request.user.tv_enabled %}
              <li>
                <a href="{% url 'medialist' media_type='tv' %}"
                   class="nav-link {% if media_type == "tv" %}active{% endif %}">
                  <i class="{{ 'tv'|icon }} me-2 align-middle"></i>
                  <span class="align-middle">TV Shows</span>
                </a>
              </li>
            {% endif %}

            {% if request.user.season_enabled %}
              <li>
                <a href="{% url 'medialist' media_type='season' %}"
                   class="nav-link {% if media_type == "season" %}active{% endif %}">
                  <i class="{{ 'season'|icon }} me-2 align-middle"></i>
                  <span class="align-middle">Seasons</span>
                </a>
              </li>
            {% endif %}

            {% if request.user.movie_enabled %}
              <li>
                <a href="{% url 'medialist' media_type='movie' %}"
                   class="nav-link {% if media_type == "movie" %}active{% endif %}">
                  <i class="{{ 'movie'|icon }} me-2 align-middle"></i>
                  <span class="align-middle">Movies</span>
                </a>
              </li>
            {% endif %}

            {% if request.user.anime_enabled %}
              <li>
                <a href="{% url 'medialist' media_type='anime' %}"
                   class="nav-link {% if media_type == "anime" %}active{% endif %}">
                  <i class="{{ 'anime'|icon }} me-2 align-middle"></i>
                  <span class="align-middle">Anime</span>
                </a>
              </li>
            {% endif %}

            {% if request.user.manga_enabled %}
              <li>
                <a href="{% url 'medialist' media_type='manga' %}"
                   class="nav-link {% if media_type == "manga" %}active{% endif %}">
                  <i class="{{ 'manga'|icon }} me-2 align-middle"></i>
                  <span class="align-middle">Manga</span>
                </a>
              </li>
            {% endif %}

            {% if request.user.game_enabled %}
              <li>
                <a href="{% url 'medialist' media_type='game' %}"
                   class="nav-link {% if media_type == "game" %}active{% endif %}">
                  <i class="{{ 'game'|icon }} me-2 align-middle"></i>
                  <span class="align-middle">Games</span>
                </a>
              </li>
            {% endif %}

            {% if request.user.book_enabled %}
              <li>
                <a href="{% url 'medialist' media_type='book' %}"
                   class="nav-link {% if media_type == "book" %}active{% endif %}">
                  <i class="{{ 'book'|icon }} me-2 align-middle"></i>
                  <span class="align-middle">Books</span>
                </a>
              </li>
            {% endif %}
            <hr>
            <li>
              {% url 'create_item' as create_item_url %}
              <a href="{{ create_item_url }}"
                 class="nav-link {% if request.path == create_item_url %}active{% endif %}">
                <i class="bi bi-plus-circle me-2 align-middle"></i> Create
              </a>
            </li>
            <li>
              {% url 'statistics' as statistics %}
              <a href="{{ statistics }}"
                 class="nav-link {% if request.path == statistics %}active{% endif %}">
                <i class="bi bi-bar-chart-line me-2 align-middle"></i> Statistics
              </a>
            </li>
            <li>
              {% url 'lists' as lists_url %}
              <a href="{{ lists_url }}"
                 class="nav-link {% if request.path == lists_url %}active{% endif %}">
                <i class="bi bi-list-ul me-2 align-middle"></i> Lists
              </a>
            </li>
            <li>
              {% url 'calendar' as calendar_url %}
              <a href="{{ calendar_url }}"
                 class="nav-link {% if request.path == calendar_url %}active{% endif %}">
                <i class="bi bi-calendar me-2"></i> Calendar
              </a>
            </li>
            <li>
              {% url 'profile' as profile_url %}
              <a href="{{ profile_url }}"
                 class="nav-link {% if request.path == profile_url %}active{% endif %}">
                <i class="bi bi-person-circle me-2"></i> Profile
              </a>
            </li>
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="nav-link w-100 text-start" type="submit">
                  <i class="bi bi-box-arrow-left me-2"></i> Logout
                </button>
              </form>
            </li>
          </ul>
        </div>

        <main class="d-flex flex-column w-100">
          {% block outer %}
          {% endblock outer %}

          {% comment %} flex-fill is needed to make the container fill the remaining space {% endcomment %}
          <div class="container flex-fill pt-5">
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message|linebreaksbr }}</div>{% endfor %}
            {% block container %}
            {% endblock container %}
          </div>
        </main>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
              crossorigin="anonymous"></script>
      <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
      <script src="https://unpkg.com/lazysizes@5.3.2/lazysizes.min.js" async></script>
      {% block js %}
      {% endblock js %}
    {% endblock body %}
  </body>
</html>
