{% load app_tags %}

{% for item in items %}
  <div class="bg-[#39404b] rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1"
       {% if forloop.last and items.has_next %} hx-get="{% url 'list_detail' custom_list.id %}?page={{ items.next_page_number }}" hx-trigger="revealed threshold:200px" hx-swap="afterend" hx-include="#filter-form" hx-indicator="#loading-indicator" {% endif %}>
    <div class="relative">
      <img alt="{{ item }}"
           class="w-full aspect-[2/3] {% if item.image != IMG_NONE %}object-cover{% endif %}"
           src="{{ item.image }}">
      <a href="{{ item|media_url }}" class="absolute inset-0"></a>
    </div>
    <div class="p-3">
      <a href="{{ item|media_url }}"
         class="text-sm font-semibold text-white hover:text-indigo-400 transition duration-300 line-clamp-2">
        {{ item }}
      </a>
    </div>
  </div>
{% endfor %}
