@import "tailwindcss" source("../../");

[x-cloak] {
  display: none !important;
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: block;
}

.lazyload,
.lazyloading {
  object-fit: none;
}

/* https://tailwindcss.com/docs/upgrade-guide#hover-styles-on-mobile */
@custom-variant hover-tap (&:hover);

.toast-error {
  @apply bg-red-700/95 border-red-600;
}

.toast-warning {
  @apply bg-amber-700/95 border-amber-600;
}

.toast-success {
  @apply bg-emerald-700/95 border-emerald-600;
}

.toast-info {
  @apply bg-indigo-700/95 border-indigo-600;
}
