{% load app_tags %}

<div class="container d-flex flex-sm-row flex-column p-3 mb-4 gap-sm-4 header">
  <div class="text-center text-sm-start mb-3 mb-sm-0 ">
    <img class="{% if media.image == IMG_NONE %}image-not-found{% else %}poster{% endif %}"
         src="{{ media.image }}"
         alt="{{ media.title }}" />
  </div>

  <div class="content d-flex flex-column">
    <div class="content-main d-flex flex-column text-sm-start text-center">
      {% if tv %}
        <h2 class="tv-title fs-5 mb-0">
          <a class="text-reset" href="{% url 'media_details' source=tv.source media_type="tv" media_id=tv.media_id title=tv.title|slug %}">
            {{ tv.title|capfirst }}
          </a>
        </h2>

        <h1 class="title">{{ media.season_title }}</h1>
      {% else %}
        <h1 class="title">{{ media.title }}</h1>
      {% endif %}

      <p class="mt-2">{{ media.synopsis|safe }}</p>

      <div class="mt-sm-auto mt-3 mb-lg-3 mb-2 d-flex flex-wrap gap-2 justify-content-sm-start justify-content-center">
        {% for genre in media.genres %}
          <span class="badge badge-genre">{{ genre }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="mt-sm-auto mt-3 d-flex gap-2 w-100 justify-content-sm-start justify-content-center">
      {% include "app/components/open_modal.html" with modal_type="track" source=media.source %}
      {% include "app/components/open_modal.html" with modal_type="lists" source=media.source %}
      {% include "app/components/open_modal.html" with modal_type="history" source=media.source %}
    </div>
  </div>
</div>