{% load app_tags %}

{% for media in media_list %}
  <tr {% if forloop.last and media_list.has_next %} hx-get="{% url 'medialist' media_type %}" hx-trigger="intersect once" hx-swap="afterend" hx-include="[name='status'],[name='sort'],[name='layout']" hx-vals='{"page": {{ media_list.next_page_number }} }' hx-indicator="#loading-indicator" {% endif %}>
    <td class="nostretch">
      <a href="{{ media.item.url }}">
        <img class="lazyload object-fit-cover"
             data-src="{{ media.item.image }}"
             src="{{ IMG_NONE }}"
             data-expand="1000"
             width="40"
             height="40"
             alt="img" />
      </a>
    </td>
    <td class="media-title text-truncate">
      <a href="{{ media.item.url }}">{{ media }}</a>
    </td>
    <td>
      {% if media.score %}
        <i class="bi bi-star-fill me-2 text-warning"></i>{{ media.score }}
      {% else %}
        <i class="bi bi-star"></i>
      {% endif %}
    </td>
    <td>{{ media.status }}</td>
    <td>
      {% if media_type == "game" %}
        {{ media.progress|format_time }}
      {% else %}
        {{ media.progress }}
      {% endif %}
    </td>
    <td>
      {% if media.item.season_number != None %}
        {% include "app/components/open_modal.html" with modal_type="track" request=request media_type="season" source=media.item.source media_id=media.item.media_id season_number=media.item.season_number only %}
      {% else %}
        {% include "app/components/open_modal.html" with modal_type="track" request=request media_type=media_type source=media.item.source media_id=media.item.media_id only %}
      {% endif %}
    </td>
  </tr>
{% endfor %}
