<button type="button"
        hx-get="{% if season_number != None and episode_number != None %}{% url modal_type|add:'_modal' source media_type media_id season_number episode_number %}{% elif season_number != None %}{% url modal_type|add:'_modal' source media_type media_id season_number %}{% else %}{% url modal_type|add:'_modal' source media_type media_id %}{% endif %}"
        hx-vals='{"return_url": "{{ request.get_full_path|urlencode }}"}'
        hx-target="#{{ modal_type }}-modal-{{ media_type }}_{{ media_id }}{% if season_number != None %}_{{ season_number }}{% endif %}{% if episode_number != None %}_{{ episode_number }}{% endif %}"
        hx-trigger="click once"
        title="{{ modal_type|title }}"
        class="btn btn-secondary open-{{ modal_type }}-btn"
        data-bs-toggle="modal"
        data-bs-target="#{{ modal_type }}-modal-{{ media_type }}_{{ media_id }}{% if season_number != None %}_{{ season_number }}{% endif %}{% if episode_number != None %}_{{ episode_number }}{% endif %}">
  {% if modal_type == "track" %}
    <i class="bi bi-pencil-square"></i>
  {% elif modal_type == "history" %}
    <i class="bi bi-hourglass-split"></i>
  {% elif modal_type == "lists" %}
    <i class="bi bi-collection"></i>
  {% endif %}
</button>

{% if include_modal|default_if_none:True %}
  {% comment %} {% if media_type == "season" %}
    {% include "app/components/modal_container.html" with modal_type=modal_type media_type=media_type media_id=media_id season_number=season_number only %}
  {% elif media_type == "episode" %}
    {% include "app/components/modal_container.html" with modal_type=modal_type media_type=media_type media_id=media_id season_number=season_number episode_number=episode_number only %}
  {% else %}
    {% include "app/components/modal_container.html" with modal_type=modal_type media_type=media_type media_id=media_id only %}
  {% endif %} {% endcomment %}
  {% include "app/components/modal_container.html" with modal_type=modal_type media_type=media_type media_id=media_id season_number=season_number episode_number=episode_number only %}
{% endif %}
