{% load app_tags %}

{% comment %} needs media.progress == 0 to not show on first load {% endcomment %}
<button class="btn btn-sm progress-btn border-0 {% if media.min or media.progress == 0 %}invisible{% endif %}"
        hx-post="{% url 'progress_edit' %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="click"
        hx-target="closest .card-text"
        hx-vals='{"item": {{ media.item.id }}, "operation": "decrease"}'>
  <i class="bi bi-dash"></i> {% comment %} decrease progress button {% endcomment %}
</button>

<div class="text-center">
  {% if media_type == "game" %}
    {{ media.progress|format_time }}
  {% elif media_type == "season" %}
    Ep. {{ media.current_episode_number }}
  {% elif media_type == "manga" %}
    Ch. {{ media.progress }}
  {% else %}
    Ep. {{ media.progress }}
  {% endif %}
</div>

<button class="btn btn-sm progress-btn border-0 {% if media.max %}invisible{% endif %}"
        hx-post="{% url 'progress_edit' %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="click"
        hx-target="closest .card-text"
        hx-vals='{"item": {{ media.item.id }}, "operation": "increase"}'>
  <i class="bi bi-plus"></i> {% comment %} increase progress button {% endcomment %}
</button>
